{% extends 'layout.html' %} {% block body %}

<style>

    html body {
      background-color: rgb(255, 255, 255);

      
  }

  
</style>
<!--Form Section-->
<br /><br />
<h2 style="text-align: left; margin-left: 140px; color: black">
  <b>Find out the most suitable crop to grow in your farm</b>
</h2>
<br />
<div>
  <div
    style="
      width: 50%;
      height: 50rem;
      margin-left: 140px ;
      color: black;
      border-radius: 25px;
      padding: 10px 10px;
    "
  >
    <form method="POST" action="{{ url_for('crop_prediction') }}">
      <div class="form-group">
        <label for="Nitrogen" style="font-size: 17px"><b>Nitrogen <br /> ಸಾರಜನಕ</b></label>
        <input
          type="number"
          class="form-control"
          id="Nitrogen"
          name="nitrogen"
          placeholder="Enter the value (example:50)"
          style="font-weight: bold; border: 2px solid rgb(0, 136, 14);"
          required
        />
      </div>
      <div class="form-group">
        <label for="Phosphorous" style="font-size: 17px"
          ><b>Phosphorous<br />
            ರಂಜಕ</b></label
        >
        <input
          type="number"
          class="form-control"
          id="Phosphorous"
          name="phosphorous"
          placeholder="Enter the value (example:50)"
          style="font-weight: bold; border: 2px solid rgb(0, 136, 14);"
          required
        />
      </div>

      <div class="form-group">
        <label for="Pottasium" style="font-size: 17px"><b>Pottasium<br />ಪೊಟಾಶಿಯಂ</b></label>
        <input
          type="number"
          class="form-control"
          id="Pottasium"
          name="pottasium"
          placeholder="Enter the value (example:50)"
          style="font-weight: bold; border: 2px solid rgb(0, 136, 14);"
          required
        />
      </div>
      <div class="form-group">
        <label for="ph" style="font-size: 17px"><b>ph Level<br />ಪಿಎಚ್ ಹತ್ತಿರ</b></label>
        <input
          type="number"
          step="0.01"
          class="form-control"
          id="ph"
          name="ph"
          placeholder="Enter the value"
          style="font-weight: bold; border: 2px solid rgb(0, 136, 14);"
          required
        />
      </div>
      <div class="form-group">
        <label for="Rainfall" style="font-size: 17px"><b>Rainfall (in mm)<br />ಮಳೆಯ ಪ್ರಮಾಣ(ಮಿಲಿಮೀಟರುಗಳಲ್ಲಿ)</b></label>
        <input
          type="number"
          step="0.01"
          class="form-control"
          id="Rainfall"
          name="rainfall"
          placeholder="Enter the value"
          style="font-weight: bold; border: 2px solid rgb(0, 136, 14);"
          required
        />
      </div>
      <div class="form-group">
        <label for="State" style="font-size: 17px "><b>State<br />ರಾಜ್ಯ</b></label>
        <select
          onchange="print_city('state', this.selectedIndex);"
          id="sts"
          name="stt"
          class="form-control"
          style="font-weight: bold; border: 2px solid rgb(0, 136, 14);"
          
          required
        ></select>

        <div class="form-group">
        <label for="City" style="font-size: 17px"><b>City<br />ನಗರ/ಗ್ರಾಮ</b></label>
        <select
          id="state"
          class="form-control"
          name="city"
          style="font-weight: bold; border: 2px solid rgb(0, 136, 14);"
          required
        ></select>
        </div>
        <script language="javascript">
          print_state("sts");
        </script>
      </div>

      <div class="d-flex justify-content-center">
        <button
          type="submit"
          class="btn btn-info"
          style="color: black; font-weight: bold; width: 130px; height:50px; border-radius:12px; font-size: 21px;"
        >
          Predict
        </button>
      </div>
    </form>
  </div>
</div>




<!-- Form section -->

{% endblock %}
