{% extends 'layout.html' %}

{% block body %}

<body>
     <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLScnvxuKQ4vbsEf-bd97Oj4tvWn8wvIQ5cSitJK3TY8YT1NxMw/formResponse" style="display: flex;
        flex-direction: column;
        justify-content: center; align-items:center ;
        margin: 40px;
     
     ">
        <div class="form-gp">
            <label> <b>Email</b> <span style="color: red;">*</span> </label>
            <input type="email" name="entry.485428648" placeholder="Email Address" required style="border: 2px solid green; border-radius: 5px;"/>
        </div>

        <div class="form-gp">
            <label> <b>Name</b> <span style="color: red;">*</span> </label>
            <input  type="text" name="entry.932628174" placeholder="Your Name" required style="border: 2px solid green; border-radius: 5px;"/>
        </div>

        <div class="form-gp">
            <label> <b>Mobile No./Contact no.</b> </label>
            <input  type="number" name="entry.879531967" placeholder="Phone Number" style="border: 2px solid green; border-radius: 5px;" />
        </div>

        <div class="form-gp">
            <label for="" "> <b>Feedback Subject</b> <span style="color: red;">*</span> </label>
            <textarea name="entry.1591633300" id="feedback-type" placeholder="Feedback Type" rows="1" cols="4" required style="width: 350px; border: 2px solid green; border-radius: 5px;"></textarea>
        </div>

        <div class="form-gp"> 
            <label for=""> <b>Feedback</b> <span style="color: red;">*</span> </label>
            <textarea id="feedback" name="entry.326955045" rows="10" cols="50" maxlength="500" placeholder="Write your Feedback here" required style="border: 2px solid green; border-radius: 5px; width: 600px;"></textarea>

        </div>
        <button class="btn btn-outline-success" type="submit" style="font-weight: bold; border-width:2px ;"> Submit Form </button>
     </form>
</body>

{% endblock %}