{% extends 'layout.html' %} {% block body %}

<style>
  html body {
    background-color: rgb(255, 255, 255);
  }
</style>
<!--Form Section-->
<br /><br />
<h2 style="text-align: left; margin-left: 140px; color: black">
  <b>Get informed advice on fertilizer based on soil</b><br /><span style="font-size: 18px;">
    ಮಣ್ಣಿನ ಆಧಾರದ ಮೇಲೆ ಗೊಬ್ಬರದ ಬಗ್ಗೆ ತಿಳುವಳಿಕೆಯುಳ್ಳ ಸಲಹೆ ಪಡೆಯಿರಿ</span>
</h2>
<br />

<div style="display: grid; grid-template-columns: 1fr 1fr;
column-gap: 30px;">
  <div
    style="
      width: 50%;
        height: 50rem;
        margin-left: 140px;
        margin-top: 40px;
        color: black;
        border-radius: 25px;
        padding: 10px 10px;
    "
  >
    <form method="POST" action="{{ url_for('fert_recommend') }}">
      <div class="form-gp">
        <label for="Nitrogen" style="font-size: 17px"><b>Nitrogen<br/>ಸಾರಜನಕ</b></label>
        <input
          type="number"
          class="form-control"
          id="Nitrogen"
          name="nitrogen"
          placeholder="Enter the value (example:50)"
          style="font-weight: bold; border: 2px solid rgb(0, 136, 14);"
          required
        />
      </div>
      <div class="form-gp">
        <label for="Phosphorous" style="font-size: 17px"
          ><b>Phosphorous<br />
            ರಂಜಕ</b></label
        >
        <input
          type="number"
          class="form-control"
          id="Phosphorous"
          name="phosphorous"
          placeholder="Enter the value (example:50)"
          style="font-weight: bold; border: 2px solid rgb(0, 136, 14);"
          required
        />
      </div>

      <div class="form-gp">
        <label for="Pottasium" style="font-size: 17px"><b>Pottasium<br />ಪೊಟಾಶಿಯಂ</b></label>
        <input
          type="number"
          class="form-control"
          id="Pottasium"
          name="pottasium"
          placeholder="Enter the value (example:50)"
          style="font-weight: bold; border: 2px solid rgb(0, 136, 14);"
          required
        />
      </div>
      <!-- <div class="form-gp">
        <label for="ph" style="font-size: 17px"><b>ph level</b></label>
        <input
          type="text"
          class="form-control"
          id="ph"
          name="ph"
          placeholder="Enter the value"
          style="font-weight: bold"
          required
        />
      </div> -->
      <div class="form-gp">
        <label for="crop" style="font-size: 17px"
          ><b>Crop you want to grow<br />ನೀವು ಬೆಳೆಯಲು ಇಚ್ಛಿಸುವ ಹೊಡೆ</b></label
        >
        <select
          name="cropname"
          class="form-control"
          id="crop"
          placeholder="Select a crop"
          style="font-weight: bold; border: 2px solid rgb(0, 136, 14);"
          required
        >
          <option selected>Select crop</option>
          <option>rice</option>
          <option>maize</option>
          <option>chickpea</option>
          <option>kidneybeans</option>
          <option>pigeonpeas</option>
          <option>mothbeans</option>
          <option>mungbean</option>
          <option>blackgram</option>
          <option>lentil</option>
          <option>pomegranate</option>
          <option>banana</option>
          <option>mango</option>
          <option>grapes</option>
          <option>watermelon</option>
          <option>muskmelon</option>
          <option>apple</option>
          <option>orange</option>
          <option>papaya</option>
          <option>coconut</option>
          <option>cotton</option>
          <option>jute</option>
          <option>coffee</option>
        </select>
      </div>

      <div class="d-flex justify-content-center">
        <button
          type="submit"
          class="btn btn-outline-success"
          style="
            color: black;
            font-weight: bold;
            width: 180px;
            height: 50px;
            border-radius: 12px;
            font-size: 21px;
            margin-top: 50px;
          "
        >
          Predict/ಊಹಿಸಿ
        </button>
      </div>
    </form>
  </div>
  <div>
    <div >
      <img src="{{ url_for('static', filename='images/Doc2-1-removebg.png') }}" style="width: 100%; height: 100%; object-fit:fill; vertical-align: top; object-position:top; transform: scale(1.5);" />
    </div>
  </div>
</div>

{% endblock %}
